/*Diese CSS-Datei beinhaltet die Style-Anweisungen für die index.php*/
textarea
{
 resize: none;

}
span 
{
	color:FFFFFF;
	background-color:red;
	padding:0.5em;
	margin:0.5em;
	border-radius:10px;
	text-aling:center;
	/*display:flex;*/
	margin:1.5em;
}

.maxcont_int
{

}

body
{
	
}

p
{
	margin:1em;
	
}

th
{
	color:;
	text-decoration-line:underline;
}

*
{
margin:auto;					/*entfernt das Standard-Margin*/
}


.button
{
	border-radius:10px 3px 10px 3px;
	padding:0.5em ;
	color:#F2F2F2;
	background-color:#8c8c8c;
}


.header							/*definert aussehen des herderberiches*/			
{

display:flex;
flex-direction:row;
flex-wrap: nowrap;
justify-content: flex-start;




background-color:#F2F2F2;
color:green;
height:7%;
border-style:solid;
border-width:1px;
}

.header_div

{
display:flex;
background-color:#ff6600;
color:red;
padding:0.5em;
border-style:solid;
border-width:1px;
}

.container_1	/*Probekontainer im Header-Bereich*/
{
	

			/*setzt die stelle im Flexcontainer auf 1*/
text-align:center;
border-style:solid;
border-width:1px;

}





.body			/*definert aussehen des body-breiches*/
{

background-color:#ffffff;
color:blue;
height:80%;
border-style:solid;
border-width:1px;
}

.footer			/*definert aussehen des footer-breiches*/
{
display:flex;

background-color:#F2F2F2;

height:5em;
border-style:solid;
border-width:1px;
}



/*Loginbereich*/

.login_form
{
	
	background-color:#F2F2F2;
	padding:1em;
	border-radius:10px;
	text-align:center;
}

.body_login
{

display:flex;
flex-direction:column;
background-color:#ffffff;
color:blue;
min-height:80%;
border-style:solid;
border-width:1px;
}

.margin_login_form

{
	margin:1em;
	height:60%;
	widht:60%;

}

.margin_login_form_text_style
{
	color:grey;
	text-align:center;

	

}
.margin_login_form_text_style
{

}

.beschreibungstext
{
	color:grey;
	text-align:center;
	height:15em;
	width:10em;
}

/*Place oder Bereich*/


.body_place_order

{
background-color:#ffffff;
color:blue;
height:80%;
border-style:solid;
border-width:1px;
}

/*definiert den Register bereich*/




.register_form
{
	
	display:flex;
	flex-direction:column;
	margin-top:3em;

	

	background-color:#F2F2F2;
	padding:1em;
	border-radius:10px;
	text-align:center;
	
}

.register_form_captcha
{
	
	display:flex;
	flex-direction:column;
	margin-top:1em;
	margin-bottom:1em;
	width:60%;
	
	background-color:#F2F2F2;
	padding:1em;
	border-radius:10px;
	text-align:center;
}

.captcha_pic

{
	margin:0.5em;
	border-radius:10px;
	background-color:white;
}

.body_register

{

	margin:30px;	
	display:flex;
	flex-direction:column;
	background-color:#ffffff;
	color:blue;
	border-style:solid;
	border-width:1px;
}

.row

{
	display:flex;
	flex-direction:row;
	
}



.picture_limit

{
	
	height:100px;
	width:100px;
	
}


.backend_body
{
		display:flex;
	flex-direction:column;
	margin-top:1em;
	margin-bottom:1em;
	/*beim reponsiv machen entfernen*/
	
	background-color:#F2F2F2;
	padding:1em;
	border-radius:10px;
	text-align:center;
}


.body_index
{
	padding:2em;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
}
.table
{
margin:1em;
background-color:#F2F2F2;
border-style:solid;
border-width:1px;
border-radius:10px;
padding:1em;
}

.table_cell
{
	padding:0.25em;
	text-align:center;
	border-style:solid;
	border-width:1px;
}


.table_input

{
	text-align:center;
}


.product_pic

{

	box-shadow: 20px 10px ;
	 box-shadow:20px 20px  grey; 
	border:1px;
	border-style:solid;
	max-width:50%;
	
}


.product_pic_backend

{
	height:50%;
	width:50%;
	box-shadow: 20px 10px ;
	 box-shadow:20px 20px  grey; 
	border:1px;
	border-style:solid;
	
	
}

.product_pic_backend_selct
{
	height:12.5%;
	width:12.5%;
	box-shadow: 20px 10px ;
	 box-shadow:20px 20px  grey; 
	border:1px;
	border-style:solid;
}

.product_container

{
	display:flex;
	flex-direction:column;
}

.product_side_column

{

	align-self:flex-start;
	

	padding:10px
}


.product_display

{
	display:flex;

	margin-top:3em;
	
	background-color:#F2F2F2;
	padding:1em;


}


.row_product_display
{

	
	display:flex;
	flex-direction:row;
	justify-content:center;
	
	background-color:#FFFFFF;
	width:100%;
}


.row_pic_select
{
	
	z-index:0;
	/*opacity: 0.5;*/
  	/*filter: alpha(opacity=30); */
  
  	max-width:50%;
  	max-heigt:60%;
	background-color:#F2F2F2;
	border-radius:20px 3px 20px 3px;
	
	
}

.pic_selection
{
	height:8em;
	width:8em;
}

.cart
{
	
	padding:1em;
	
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:20%;
	background-color:#FFFFFF;
	margin:1em;
	border:0.5em;
	border-color:#F2F2F2;
	 border-style:solid ;
 box-shadow:20px 20px  #F2F2F2;

}

.cart_weld
{
	background-color:#F2F2F2;
	margin:10px;
	border-radius:20px 3px 20px 3px;
	padding:1em;
}

.cart_master_container
{
	display:flex;
	flex-direction:column;
	background-color:#F2F2F2;
	z-index:0;
}

.cart_hader
{	display:flex;
	justify-contet:center;
	background-color:f2f2f2;
	margin:0.5em;
}	



.cointainer_cart
{
	
	display:flex;
	flex-direction:column;
}



.entry_cart

{
	display:flex;
	background-color:red;
	padding:1em;
}
.chiled1
{
 order:6;
	background-color:f2f2f2;

	margin:0.5em;
	
}
.chiled2
{
order:1;
background-color:f2f2f2;

margin:0.5em;
}
.chiled3
{
	background-color:f2f2f2;
order:2;
	margin:0.5em;
}
.chiled4
{
	background-color:f2f2f2;
 order:5;
	margin:0.5em;
}

.chiled5
{
order:6;	
}

.cartcheck_present
{
	display:flex;
	flex-direction:row;
	background-color:blue;
	padding:1em;
	

}
.posten
{
	display:flex;
	flex-direction:column;
}

.form
{
	display:flex;
	flex-direction:column;
	/*ackground-color:green;*/

}

.containder_form
{	
	background-color:f2f2f2;
	order:7;
	display:flex;
}

.cart_check
{
	padding:2em;
	display:flex;
	justify-content:center;
}


.master_container

{
	display:flex;
	flex-direction:row;
	background-color:blue;
	z-index:3;
}


.thankyou_body
{
	padding:2em;
	display:flex;
	justify-content:center;
	height:56.5%;
}
.body_master
{
	display:flex;
	flex-direction:column;
	width:60%;
}

.cart_master

{
	display:flex;
	flex-direction:column;
}

.cart_master_1
{
	display:flex;
	flex-direction:column;
	 align-items:center ;

}

.flex_cont{
	diesplay:flex;
	flec-direction:row;
	width:25%s;
}